/* reset styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary:#0962ba;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    overflow: hidden;
    background: #f5f6fa;
}

/* reusable styles */
.container {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* metronome */
.metronome {
    height: 400px;
}

.animation {
    transform-origin: bottom;
    animation: pendulum 1s linear infinite;
}

/* bpm */
.bpm {
    font-weight: 300;
}

.bpm__counter {
    font-size: 2rem;
    font-weight: 400;
}

/* slider and play button*/
.play-button {
    height: 40px;
    width: 40px;
    line-height: 40px !important; /* override font-awesome style */
    text-align: center;
    background: var(--primary);
    color: #fff;
    border-radius: 50%;
    flex-shrink: 0;
}

.slider-container {
    width: 30%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-right: 20px;
    height: 5px;
    border-radius: 10px; 
    background: #ced6e0;
    outline: none;
}

.slider, .play-button {
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: 200ms;
    transition: opacity 200ms;
}

.slider:hover, .play-button:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb  {
    -webkit-appearance: none;
    appearance: none;

    width: 25px;
    height: 25px;

    border: none;
    border-radius: 50%;
    background: var(--primary);

    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;

    border: none;
    border-radius: 50%;
    background: var(--primary);

    cursor: pointer;
}

/* keyframes and media queries */
@keyframes pendulum {
    0% { transform: rotate(-20deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(-20deg); }
}

@media (max-width: 1575px) {
    .container {
        padding: 5% 8%;
    }
    .slider-container {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 5%;
    }
    
    .metronome {
        height: 300px;
    }
}